*.swp
.vs
.DS_Store

__pycache__

*.exe
*.pdb
*.dSYM
*.bin
*.log
build
tmp

autosave
*.blend1
screenshot.png
arctic-char
*.AppImage

vendor/sokol/**/*.a
vendor/sokol/**/*.so
vendor/sokol/**/*.dylib
vendor/sokol/**/*.dll
vendor/sokol/**/*.lib
